# Configuracoes gerais
EXTRATOR_PAGE_LIMIT=50
EXTRATOR_CONCORRENCIA_LOTES=3
EXTRATOR_CONCORRENCIA_IMAGENS=5

# Leiloes PB
LEILOES_PB_USERNAME=
LEILOES_PB_PASSWORD=
LEILOES_PB_CLIENT=leiloespbcombr
LEILOES_PB_BASE_URL=https://api.suporteleiloes.com.br
LEILOES_PB_AUTH_PATH=/api/auth
LEILOES_PB_AUTH_METHOD=POST
LEILOES_PB_ORIGIN=https://arrematante.leiloespb.com.br
LEILOES_PB_BEARER_TOKEN=

# Golden Lance
GOLDEN_LANCE_USERNAME=
GOLDEN_LANCE_PASSWORD=
GOLDEN_LANCE_CLIENT=goldenlancecombr
GOLDEN_LANCE_BASE_URL=https://api.suporteleiloes.com.br
GOLDEN_LANCE_AUTH_PATH=/api/auth
GOLDEN_LANCE_AUTH_METHOD=POST
GOLDEN_LANCE_ORIGIN=https://arrematante.goldenlance.com.br
GOLDEN_LANCE_BEARER_TOKEN=

# Rogerio Menezes
ROGERIO_MENEZES_USERNAME=
ROGERIO_MENEZES_PASSWORD=
ROGERIO_MENEZES_CLIENT=
ROGERIO_MENEZES_BASE_URL=
ROGERIO_MENEZES_AUTH_PATH=
ROGERIO_MENEZES_AUTH_METHOD=POST
ROGERIO_MENEZES_ORIGIN=
ROGERIO_MENEZES_BEARER_TOKEN=

