# Configuracoes gerais
EXTRATOR_PAGE_LIMIT=50
EXTRATOR_CONCORRENCIA_LOTES=3
EXTRATOR_CONCORRENCIA_IMAGENS=5
EXTRATOR_SCRAPER_CONCORRENCIA_LOTES=8
EXTRATOR_SCRAPER_DELAY_PAGINAS_MS=100

# Leiloes PB
LEILOES_PB_USERNAME=
LEILOES_PB_PASSWORD=
LEILOES_PB_CLIENT=leiloespbcombr
LEILOES_PB_BASE_URL=https://api.suporteleiloes.com.br
LEILOES_PB_AUTH_PATH=/api/auth
LEILOES_PB_AUTH_METHOD=POST
LEILOES_PB_ORIGIN=https://arrematante.leiloespb.com.br
LEILOES_PB_BEARER_TOKEN=

# Golden Lance
GOLDEN_LANCE_USERNAME=
GOLDEN_LANCE_PASSWORD=
GOLDEN_LANCE_CLIENT=goldenlancecombr
GOLDEN_LANCE_BASE_URL=https://api.suporteleiloes.com.br
GOLDEN_LANCE_AUTH_PATH=/api/auth
GOLDEN_LANCE_AUTH_METHOD=POST
GOLDEN_LANCE_ORIGIN=https://arrematante.goldenlance.com.br
GOLDEN_LANCE_BEARER_TOKEN=

# Parque dos Leiloes
# Nao usa login. As imagens sao publicas no HTML do lote.
PARQUE_DOS_LEILOES_BASE_URL=https://www.parquedosleiloes.com.br

# Rogerio Menezes
# Nao usa login. As imagens sao publicas no HTML do lote.
ROGERIO_MENEZES_BASE_URL=https://www.rogeriomenezes.com.br
